.nav {
  background-color: rgb(255, 255, 255);
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.navList {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-left: 120px;
  /* margin-top: 10px; */
}

.logo {
  width: 121px;
  height: 40px;
  margin: 8px 0 0 -120px;
}

.navList h1 {
  margin: 18px 0 0 550px;
  color: #29275c;
  font-size: 16px;
  cursor: pointer;
}

.navList .Bt {
  margin-top: 16px;
  /* margin-left: -200px; */
  display: flex;
  /* justify-content: space-between; */
  color: #29275c;
  font-size: 12px;
}

.RequestBt {
  margin-left: -10px;
  cursor: pointer;
}

/* .Bt {
  margin-left: -150px;
} */

.MyPage {
  margin-left: 150px;
  cursor: pointer;
}

.LogOut {
  margin-left: 130px;
  cursor: pointer;
}

.searchInput {
  width: 350px;
  height: 50px;
  /* margin-left: 20px; */

  box-sizing: border-box;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 6px 12px 6px 25px;
}

.searchBox {
  position: relative;
  top: 5px;
  margin-left: -25px;
}

.searchBox > img {
  /* css 선택자 공부 */
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%); /* 구글링 */
}

.searchImg {
  width: 19px;
  height: 19px;
}
