.nav {
  background-color: rgb(255, 255, 255);
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.navList {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-left: 120px;
  /* margin-top: 10px; */
}

.logo {
  width: 121px;
  height: 40px;
  margin: 8px 0 0 -120px;
}

.navList h1 {
  margin: 18px 0 0 550px;
  color: #29275c;
  font-size: 16px;
  cursor: pointer;
}

.navList .Bt {
  margin-top: 16px;
  display: flex;
  color: #29275c;
  font-size: 12px;
}

.RequestBt {
  margin-left: -10px;
  cursor: pointer;
}

.MyPage {
  margin-left: 150px;
}

.LogOut {
  margin-left: 130px;
}
