.input {
  display: flex;
  justify-content: center;
}

.input::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
}

.inputtext {
  margin-left: 2px;
  margin-top: 25px;
}

.inputtextElement {
  margin-top: 10px;
  margin-bottom: 12px;
}

.inputbox {
  width: 800px;
  height: 200px;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.28);
}
