.thirdSection {
  display: flex;
  flex-direction: column;
}

.thirdSectionWrap {
  display: flex;

  margin-left: 309px;
  margin-bottom: 718px;

  font-family: "Pretendard";
  font-style: normal;
  font-size: 40px;
}

.thirdSectionTextWrap {
  display: flex;
  flex-direction: column;
}

.thirdSectionImg {
  margin-left: 200px;
}

.thirdSectionText {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 90px;
  /* identical to box height, or 225% */

  color: #2745f2;
}

.thirdSectionText1 {
  line-height: 90px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 90px;
  /* or 180% */

  color: #000000;
}

.thirdSectionBtn {
  background-color: #2745f2;
  border: 0;
  outline: 0;
  width: 196px;
  height: 70px;
  color: white;
  border-radius: 8px;
  font-size: 10px;

  margin-left: 209px;
}
