.test222 {
  margin-left: 450px;
  margin-top: 10px;
}

.fileimg {
  width: 200px;
  height: 200px;
}

.FileInput {
  margin-left: 200px;
}

.File-Img {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.input-file-button {
  display: flex;
  justify-content: space-evenly;
  margin-left: -350px;
  margin-top: -30px;
}

.NoneImg {
  width: 200px;
  height: 200px;
  margin-left: -350px;
}
