.formSection {
  width: 912px;
  min-height: 413px;
  padding: 20px;
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
  /* border: 1px solid rgba(0, 0, 0, 0.175); */
  background: #ffffff;

  box-shadow: 0px 4px 8px rgba(190, 190, 190, 0.2);
  border-radius: 10px;
}

.ListItemImgBox {
  margin-left: 20px;
}
.leftSection {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  gap: 10px;
}

.nameTag {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.userName {
  font-size: 18px;
}

.tagbox {
  width: min-content;
  height: 18px;
  padding: 0px 10px;

  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tag {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  height: 12.6px;

  color: #858585;
}

.contentSection {
  width: 600px;
  margin: auto 0px;
  margin-top: 70px;
  overflow-wrap: break-word;
}

.tagImg {
  width: 30.07px;
  height: 43.04px;
}

.able {
  width: 130px;
  height: 48px;
  cursor: pointer;
}

.imgUrl {
  display: block;
  max-height: 325px;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: auto;
  border-radius: 5px;
}

.date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #858585;
  display: flex;
  align-items: flex-end;
  padding-bottom: 6px;
  width: 80px;
}

.date::before {
  content: " * ";
  margin-right: 10px;
}

.modalBarWrap {
  position: relative;
  margin-left: auto;
}

.trashImg {
  width: 44px;
  height: 48px;
  cursor: pointer;
}

.profileUrl {
  width: 51px;
  height: 51px;

  border-radius: 81px;
}

.listImage {
  width: 200px;
  height: 200px;
}

.slick-slider {
  width: 200px;
}

.ListItemImg {
  margin-top: 100px;
}
