.CommentBt {
  display: flex;
  justify-content: center;
  margin-left: 500px;
  margin-top: -45px;
}

.CommentBtLastBtn {
  background-color: #6a7ff7;
  color: white;
  border: 0;
  outline: 0;
  width: 55px;
  height: 30px;
  border-radius: 5px;
}

.CommentBtLastBtn:active {
  box-shadow: inset -0.3rem -0.1rem 1.4rem #6370b7,
    inset 0.3rem 0.4rem 0.8rem #bec5d0;
  cursor: pointer;
}

.sendBt {
  width: 22px;
  height: 22px;
  margin-left: 75px;
  margin-top: 12px;
}
