.DesignBt {
  width: 90px;
  height: 30px;
  border: 1.5px solid #d83f67;
  background-color: white;
  border-radius: 30px;
  color: #d83f67;
  margin-left: 10px;
  font-size: 13px;
}

.SelectBox {
  display: flex;
  width: 824px;
  height: 84px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  justify-content: center;
  margin-left: 20px;
  background-color: white;
}
