.introduce {
  width: 100%;
  height: 3236px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.BackImg {
  width: 1878px;
  height: 1080px;
  background: #ffffff;
}

.Title {
  position: absolute;
  width: 582px;
  height: 90px;
  left: 678px;
  top: 300px;

  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 90px;
  /* identical to box height, or 145% */

  text-align: center;

  color: #000000;
}

.Text {
  position: absolute;
  width: 1200px;
  height: 180px;
  left: 379px;
  top: 1600px;

  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 90px;

  text-align: center;

  color: #000000;
}

.Text1 {
  position: absolute;
  width: 168px;
  height: 90px;
  left: 309px;
  top: 2472px;

  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 90px;
  /* identical to box height, or 225% */

  color: #2745f2;
}

.Text2 {
  position: absolute;
  width: 677px;
  height: 180px;
  left: 310px;
  top: 2550px;

  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 90px;
  /* or 180% */

  color: #000000;
}

.IosTest {
  position: absolute;
  top: 2322px;

  left: 1129px;
}
html {
  scroll-behavior: smooth;
}

.authBtn {
  position: absolute;
  width: 300px;
  height: 70px;
  left: 135px;
  top: 3119px;

  border: none;
  color: white;
  background: #2745f2;
  border-radius: 10px;
}
