.CommentListBox {
  width: 622px;
  min-height: 85px;
  white-space: pre-wrap;
  border-bottom: 1px solid rgba(130, 130, 130, 0.188);
}

.CommentListProfileUrl {
  width: 30px;
  height: 30px;
  border-radius: 81px;

  margin-top: 25px;
}

.CommentListContent {
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  white-space: pre-wrap;
  width: 400px;
  margin-left: 60px;
  min-height: 25px;
}

.CommentListuserName {
  margin-top: 28px;
  margin-left: -75px;
}

.CommentListComment {
  display: flex;
  flex-direction: column;
}

.CommentListBoxWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.CommentListContentBox {
  width: 400px;
  display: flex;
}

.dark-mode .CommentListContent {
  color: black;
}

.dark-mode .CommentListContent {
  background-color: #292929;
  color: white;
}
