.modalWrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -140px;
  top: 0px;
}

.modalAble {
  border: 1px solid black;
  width: 100px;
  cursor: pointer;
  display: flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;

  margin-top: 3px;
}

.dark-mode .modalAble {
  color: white;
  border: 1px solid white;
}
