.modalWrap {
  position: absolute;
  left: 1270px;
  display: flex;
  flex-direction: column;
}

.modalAble {
  border: 1px solid black;
  width: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3px;
}
