* {
    margin: 0;
}

.SectionText {
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    margin-top: 150px;
    color: #29275C;
}

.SectionText h1 {
    font-size: 40px;
    margin-bottom: 90px;
}

.SectionText h3 {
    font-size: 20px;
}

.iosimg {
    width: 482px;
    display: flex;
    margin-left: 1000px;
    margin-top: -274px;
}


.btn {
    margin-top: -150px;
    margin-left: 220px;
}