.SideBar {
  display: flex;
  /* justify-content: flex-end; */
  /* flex-direction: column; */
  width: 300px;
  height: 100vh;
  /* height: 100px; */
  background-color: white;
  margin-left: 150px;
}

.SideBarBox {
  display: flex;
  width: 100%;
  margin-left: -300px;
  /* height: 100vh; */
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  /* margin-left: -100px; */
  /* flex-direction: column; */
  /* background-color: aqua; */
}
