* {
  font-family: "Pretendard";
  box-sizing: border-box;

  scroll-behavior: smooth;
}

:root {
  --dark-color: #222222;
}

.light-mode {
  color: #333;
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: var(--dark-color);
  color: white;
  transition: background-color 0.3s ease;
}
