.text h2 {
  margin-left: 450px;
  margin-top: -10px;
}

.text h3 {
  margin-left: 540px;
  margin-top: -15px;
}

.File {
  margin-top: 20px;
}

.Input {
  margin-top: 10px;
}

.Select {
  display: flex;
  justify-content: center;
  margin-left: -18px;
  margin-top: 10px;
}

.LastButton {
  display: flex;
  margin-left: 1300px;
  margin-top: 50px;
}

.text {
  margin-top: 40px;
}
