.nav {
    background-color: rgb(255, 255, 255);
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.175);
}

.navList {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-left: 120px;
}

.logo {
    width: 121px;
    height: 40px;
    margin-top: 8px;
    margin-left: -150px;
}

.navList h1 {
    margin-top: 18px;
    margin-left: 550px;
    color: #29275C;
    font-size: 16px;
}